.aboutus-container {
  padding: 60px 20px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  color: #2D3338;
  font-family: 'Trebuchet MS', sans-serif;
}

.aboutus-content h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #FFD700;
}

.aboutus-content h2 {
  font-size: 24px;
  margin-top: 40px;
  color: #2D3338;
}

.aboutus-content p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.aboutus-image-container {
  margin-top: 40px;
  text-align: center;
}

.aboutus-image {
  width: 300px;
}

