.service-carousel-wrapper {
  padding: 40px 20px;
  background: linear-gradient(135deg,  #FFD700, #e3e3e3);
  text-align: center;
  height: 100vh;
}

.service-carousel-heading {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.166) 0.1em 0.1em 0.2em;
}

.service-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: scale(1.02);
}

.service-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.service-img-box {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-info {
  padding: 20px;
}

.service-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 10px;
}

.service-description {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}


