.carousel-wrapper {
  padding: 40px 20px;
  background-color: #fe608dd3;
}

.showcase-title {
  font-size: 2rem;
  font-weight: 600;
  color: #2D3338;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.166) 0.1em 0.1em 0.2em;
}

.carousel-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: 280px;
  transition: transform 0.3s ease;
}

.carousel-card:hover {
  transform: scale(1.03);
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
