.recuperar-container {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 100px; /* Espaço para o navbar */
 padding-bottom: 80px; /* Espaço para o footer */
 height: 100vh;
 background: linear-gradient(135deg, #FC3F75, #e3e3e3);
}

/* Card branco */
.recuperar-box {
  background: white;
    padding: 30px;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.lock-icon {
  font-size: 50px; /* Aumente conforme desejar */
  display: inline-block;
  margin-bottom: 10px;
}

/* Título */

.titulo {
 font-size: 24px;
 margin-bottom: 10px;
 color: #333;
}

.descricao {
  font-size: 18px;
  color: #aaa;
  margin-bottom: 20px;
}

.campo-email {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Botão amarelo */
.recuperar-button {
  width: 50%;
    padding: 12px;
    font-size: 18px;
    border: none;
    background: #FFD700;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
    transition: background 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.recuperar-button:hover {
  background-color: #b69a00;
}

.link-criar-conta a,
.voltar-login a {
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;
  color: #1a0dab;
  text-decoration: none;
}

.link-criar-conta a:hover,
.voltar-login a:hover {
  text-decoration: underline;
}

.separador {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  color: #333;
}


/* Mensagem de feedback */
.mensagem {
  color: #0f0;
  margin-top: 15px;
  font-size: 0.9rem;
}
