.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px; /* Espaço para o navbar */
    padding-bottom: 100px; /* Espaço para o footer */
    height: 100vh;

    background: linear-gradient(135deg, #FC3F75, #f6a0b9);
  }
  
  .register-box {
    background: white;
    padding: 30px;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
  }
  
  .register-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Seção de Endereço */
  .address-section h3 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .address-row {
    display: flex;
    gap: 40px;
  }
  
  .address-row .input-group {
    flex: 1;
  }

  .admin-text {
    font-size: 14px;
    margin-top: 30px;
  }
  
  /* Botão de envio */
  .register-button {
    width: 50%;
    padding: 12px;
    font-size: 18px;
    border: none;
    background: #FFD700;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
    transition: background 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    
  }
  
  .register-button:hover {
    background: #b69a00;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  /* Seção da Senha */
  .password-group {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 2px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #FC3F75;
  }
  
  .toggle-password:hover {
    color: #333;
  }

  .forpassword-link {
    font-size: 15px;
    color: #3f3e3e;
  }

.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
  color: #2D3338;
  margin: 20px 0;
  line-height: 1.5;
  max-width: 100%;
}

.checkbox-container input[type="checkbox"] {
  margin-top: 4px;
  transform: scale(1.1);
  cursor: pointer;
}

.checkbox-container label {
  display: inline;
  text-align: justify;
  flex: 1;
}

.checkbox-container a {
  color: #1a0dab;
  text-decoration: underline;
}

.checkbox-container a:hover {
  color: #b69a00;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    max-width: 90%;
    padding: 20px;
  }

  .contact-form {
    width: 100%;
    padding: 20px;
  }

  .input-group2 input,
  .input-group2 textarea {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; 
  }
}


  
