.service-page {
  padding: 20px;
  text-align: center;
  background-color: #FFFF00;
}

.service-page img {
  width: 300px;
  margin-bottom: 20px;
}

.service-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-page label {
  margin-top: 10px;
}

.service-page input,
.service-page textarea {
  padding: 10px;
  width: 80%;
  margin-top: 5px;
}

.service-page button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.service-page button:hover {
  background-color: #0056b3;
}
